{% extends 'base.html' %}

{% block title2 %}Dodaj wydatek{% endblock %}

{% block body2 %}
<div class="row justify-content-center m-0 p-0">
    <div class="col-xl-12 col-xxl-9 p-0">
        <div class="content mt-2 p-4">
            <h3>DODAJ WYDATEK</h3>
            <div class="div-form-buttons mx-auto">
                <form method="post" action="/personalbudget/newExpenseAction">
                    <div class="mb-3">
                        <label for="amountOfExpanse" class="form-label">Kwota (zł):</label>
                        <input type="number" class="form-control" min="1" step="0.01" max="999999.99"
                            id="amountOfExpanse" value="1" name="amountExpense"
                            onkeypress="return onlyNumberKey(event)">
                    </div>
                    <div class="mb-3">
                        <label for="theDate" class="form-label">Data:</label>
                        <input type="date" class="form-control" id="theDate" name="dateExpense" min="2000-01-01">
                    </div>
                    <label class="p-input-radio mb-2" for="paymentMethodId">Sposób płatności:</label>
                    <select class="form-select form-select-sm mb-3" aria-label="sposob platnosci" name="paymentMethod"
                        id="paymentMethodId">
                        {% if expenses_options_form_payment_method %}
                        {% for option_name_pay_method in expenses_options_form_payment_method %}

                        <option value='{{ option_name_pay_method.name }}'>{{ option_name_pay_method.name }}</option>

                        {% endfor %}
                        {% endif %}
                    </select>
                    <label class="p-input-radio mb-2" for="paymentCategory">Kategoria płatności: </label>
                    <select class="form-select form-select-sm" aria-label="sposob platnosci" id="paymentCategory"
                        name="paymentCategoryExpense">
                        {% if expenses_options_form_category %}
                        {% for option_name_category in expenses_options_form_category %}

                        <option value='{{ option_name_category.name }}'>{{ option_name_category.name }}</option>

                        {% endfor %}
                        {% endif %}

                    </select>
                    <div class="mt-3 mb-3">
                        <label for="comment" class="form-label">Komentarz (opcjonalnie):</label>
                        <textarea class="form-control" id="comment" rows="2" name="commentExpense"></textarea>
                    </div>
                    <div class="mt-4 submit">
                        <button type="submit" class="btn btn-warning btn-lg">Dodaj</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}