{% extends 'base.html' %}

{% block title2 %}Przeglądaj bilans dla bieżącego miesiąca{% endblock %}

{% block body2 %}

<div class="row justify-content-center m-0 p-0">
    <div class="col-xl-12 col-xxl-9 p-0">
        <div class="content mt-2 p-4">
            <h3>PRZEGLĄDAJ BILANS BIEŻĄCY MIESIĄC</h3>
            <div class="d-flex flex-row bd-highlight div-balance-buttons mx-auto p-2 mb-2">
                <div class="bd-highlight balance-width d-flex align-items-center">
                    <label class="p-input-radio w-100" for="paymentMethod">Wybierz okres czasu:</label>
                </div>
                <div class="bd-highlight balance-width2 d-flex align-items-center">
                    <form action="/personalbudget/newbrowsethebalance" method="post">
                        <select class="form-select form-select-sm w-100" aria-label="sposob platnosci"
                            name="paymentMethod" id="paymentMethodSelected">
                            <option value="currentMonth" selected>Bieżący miesiąc</option>
                            <option value="lastMonth">Poprzedni miesiąc</option>
                            <option value="currentYear">Bieżący rok</option>
                            <option value="selectedPeriod">Wybrany okres</option>
                        </select>
                </div>
                <div class="bd-highlight balance-width3 submit2 small-text d-flex align-items-center">
                    <button type="submit" class="btn btn-warning">Przeglądaj</button>
                </div>
                </form>
            </div>
            <div class="table-responsive">
                <table class="table-center my-table">
                    <thead>
                        <tr>
                            <th colspan="8" class="center-td">Zestawienie przychodów w okresie od
                                {{ date_from_to_current_month }}
                            </th>
                        </tr>
                        <tr>
                            <th class="ordinal-number">ID</th>
                            <th class="ordinal-number">Lp</th>
                            <th class="column-incomes">Kwota (zł)</th>
                            <th class="column-incomes">Data</th>
                            <th class="column-incomes">Kategoria</th>
                            <th class="column-incomes">Komentarz</th>
                            <th class="column-expenses">Edytuj</th>
                            <th class="column-expenses">Usuń</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if query_name_income_current_month %}
                        {% set myOrdinalNumber = 1 %}
                        {% for income in query_name_income_current_month %}
                        <tr>
                            <td class="ordinal-number">{{ income.incID }}</td>
                            <td class="ordinal-number">{{ myOrdinalNumber }}</td>
                            <td class="column-incomes">{{ income.amn }}</td>
                            <td class="column-incomes">{{ income.dateInc }}</td>
                            <td class="column-incomes">{{ income.incCategory }}</td>
                            <td class="column-incomes">{{ income.comment }}</td>
                            <td class="ordinal-number text-center">
                                <form method="post" action="/personalbudget/editIncomes" id="formDeleteExpanse"
                                    name="formDelete">
                                    <input type="hidden" name="editRowIncomes" value="{{ income.incID }}" />
                                    <button type="submit" class="btn btn-secondary" title="Edytuj">
                                        <!-- <button type="submit" class="btn btn-light"> -->
                                        <i class="icon-pencil"></i></button>
                                </form>
                            </td>
                            <td class="ordinal-number text-center">
                                <form method="post" action="/personalbudget/areYouSureDeleteFromIncomes"
                                    id="formDeleteExpanse" name="formDelete">
                                    <input type="hidden" name="deleteRowIncomes" value="{{ income.incID }}" />
                                    <!-- <button type="submit" class="btn btn-secondary" id="{{ expense.exID }}"> -->
                                    <button type="submit" class="btn btn-secondary" title="Usuń">
                                        <!-- <button type="submit" class="btn btn-light"> -->
                                        <i class="icon-trash-empty"></i></button>
                                </form>
                            </td>
                        </tr>
                        {% set myOrdinalNumber = myOrdinalNumber + 1 %}
                        {% endfor %}
                        {% else %}
                        <tr>
                            <td colspan="8" class="center-td">Brak przychodów</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
            <div class="table-responsive mt-4">
                <table class="table-center my-table">
                    <thead>
                        <tr>
                            <th colspan="9" class="center-td">Zestawienie wydatków w okresie od
                                {{ date_from_to_current_month }}
                            </th>
                        </tr>
                        <tr>
                            <th class="ordinal-number">ID</th>
                            <th class="ordinal-number">Lp</th>
                            <th class="column-expenses">Kwota (zł)</th>
                            <th class="column-expenses">Data</th>
                            <th class="column-expenses">Sposób płatności</th>
                            <th class="column-expenses">Kategoria</th>
                            <th class="column-expenses">Komentarz</th>
                            <th class="column-expenses">Edytuj</th>
                            <th class="column-expenses">Usuń</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if query_name_expense_current_month %}
                        {% set myOrdinalNumberExpenses = 1 %}
                        {% for expense in query_name_expense_current_month %}
                        <tr>
                            <td class="ordinal-number">{{ expense.exID }}</td>
                            <td class="ordinal-number">{{ myOrdinalNumberExpenses }}</td>
                            <td class="column-expenses">{{ expense.amn }}</td>
                            <td class="column-expenses">{{ expense.dateExp }}</td>
                            <td class="column-expenses">{{ expense.pay }}</td>
                            <td class="column-expenses">{{ expense.excategory }}</td>
                            <td class="column-expenses">{{ expense.comment }}</td>
                            <td class="ordinal-number text-center">
                                <form method="post" action="/personalbudget/editExpenses" id="formDeleteExpanse"
                                    name="formDelete">
                                    <input type="hidden" name="editRow" value="{{ expense.exID }}" />
                                    <button type="submit" class="btn btn-secondary" title="Edytuj">
                                        <!-- <button type="submit" class="btn btn-light"> -->
                                        <i class="icon-pencil"></i></button>
                                </form>
                            </td>
                            <td class="ordinal-number text-center">
                                <form method="post" action="/personalbudget/areYouSureDeleteFromExpenses"
                                    id="formDeleteExpanse" name="formDelete">
                                    <input type="hidden" name="deleteRow" value="{{ expense.exID }}" />
                                    <!-- <button type="submit" class="btn btn-secondary" id="{{ expense.exID }}"> -->
                                    <button type="submit" class="btn btn-secondary" title="Usuń">
                                        <!-- <button type="submit" class="btn btn-light"> -->
                                        <i class="icon-trash-empty"></i></button>
                                </form>
                            </td>
                        </tr>

                        {% set myOrdinalNumberExpenses = myOrdinalNumberExpenses + 1 %}
                        {% endfor %}
                        {% else %}
                        <tr>
                            <td colspan="9" class="center-td">Brak wydatków</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
            <div class="table-responsive mt-4">
                <table class="table-center">
                    <thead>
                        <tr>
                            <th>Suma przychodów i wydatków w okresie od {{ date_from_to_current_month }}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <p>Suma przychodów (zł):
                                    {% if query_name_incomes_sum_current_month.incSum %}
                                    <b> {{ query_name_incomes_sum_current_month.incSum }}
                                    </b>
                                    {% else %}
                                    <b>0</b>
                                    {% endif %}
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Suma wydatków (zł):
                                    {% if query_name_expenses_sum_current_month.expSum %}
                                    <b>{{ query_name_expenses_sum_current_month.expSum }}
                                    </b>
                                    {% else %}
                                    <b>0</b>
                                    {% endif %}
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}