{% extends 'base.html' %}

{% block title2 %}Dodaj przychód{% endblock %}

{% block body2 %}
<div class="row justify-content-center m-0 p-0">
    <div class="col-xl-12 col-xxl-9 p-0">
        <div class="content mt-2 p-4">
            <h3>PRZEGLĄDAJ BILANS</h3>
            <div class="table-responsive">
                <table class="table-center">
                    <thead>
                        <tr>
                            <th colspan="5" class="center-td">Zestawienie przychodów w okresie od
                                <?php 
                                echo $dateFromTo;
                            ?>

                            </th>
                        </tr>
                        <tr>
                            <th>Lp</th>
                            <th>Kwota (zł)</th>
                            <th>Data</th>
                            <th>Kategoria</th>
                            <th>Komentarz</th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php
                            if($queryNameIncome->rowCount()>0){
                            $i=1;
                            foreach ($queryName as $incomesUser) {
                                echo "<tr>
                                        <td class=\"center-td\">$i</td>
                                        <td>{$incomesUser['amount']}</td>
                                        <td>{$incomesUser['date_of_income']}</td>
                                        <td>{$incomesUser['name']}</td>
                                        <td>{$incomesUser['income_comment']}</td>
                                    </tr>";
                                    $i++;
                                }
                            } else {
                                echo "<tr><td colspan=\"6\" class=\"center-td\">
                                Brak przychodów</td></tr>";											
                            }
                        ?>
                    </tbody>
                </table>
            </div>
            <div class="table-responsive mt-4">
                <table class="table-center">
                    <thead>
                        <tr>
                            <th colspan="6" class="center-td">Zestawienie wydatków w okresie od
                                <?php 
                                echo $dateFromTo;
                            ?>

                            </th>
                        </tr>
                        <tr>
                            <th>Lp</th>
                            <th>Kwota (zł)</th>
                            <th>Data</th>
                            <th>Sposób płatności</th>
                            <th>Kategoria</th>
                            <th>Komentarz</th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php
                            if($queryNameExpense->rowCount()>0){
                                $i=1;
                                foreach ($queryExpense as $expensesUser) {
                                    echo "<tr>
                                            <td class=\"center-td\">$i</td>
                                            <td>{$expensesUser['amn']}</td>
                                            <td>{$expensesUser['dateExp']}</td>
                                            <td>{$expensesUser['pay']}</td>
                                            <td>{$expensesUser['excategory']}</td>
                                            <td>{$expensesUser['comment']}</td>
                                        </tr>";
                                        $i++;
                                }
                            }else {
                                echo "<tr><td colspan=\"6\" class=\"center-td\">
                                Brak wydatków</td></tr>";								
                            }
                        
                        ?>
                    </tbody>
                </table>
            </div>
            <div class="table-responsive mt-4">
                <table class="table-center">
                    <thead>
                        <tr>
                            <th>Suma przychodów i wydatków w okresie od
                                <?php 
                                echo $dateFromTo;
                            ?>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <p>Suma przychodów: <b>
                                        <?php 
                                    if($queryNameIncome->rowCount()>0)
                                    echo $incomesSum['incSum'];
                                    else echo "0";
                                ?> zł</b></p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Suma wydatków: <b>
                                        <?php
                                    if($queryNameExpense->rowCount()>0) echo $expensesSum['expSum'];
                                    else echo "0";
                                ?> zł</b></p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}