{% extends 'base.html' %}

{% block title2 %}Przeglądaj bilans dla bieżącego roku{% endblock %}

{% block body2 %}

<div class="row justify-content-center m-0 p-0">
    <div class="col-xl-12 col-xxl-9 p-0">
        <div class="content mt-2 p-4">
            <h3>PRZEGLĄDAJ BILANS</h3>
            <div class="table-responsive">
                <table class="table-center my-table">
                    <thead>
                        <tr>
                            <th colspan="5" class="center-td">Zestawienie przychodów w okresie od
                                {{ date_from_to_current_year }}
                            </th>
                        </tr>
                        <tr>
                            <th class="ordinal-number">Lp</th>
                            <th class="column-incomes">Kwota (zł)</th>
                            <th class="column-incomes">Data</th>
                            <th class="column-incomes">Kategoria</th>
                            <th class="column-incomes">Komentarz</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if query_name_income_current_year %}
                        {% set myOrdinalNumber = 1 %}
                        {% for income in query_name_income_current_year %}
                        <tr>

                            <td class="ordinal-number">{{ myOrdinalNumber }}</td>
                            <td class="column-incomes">{{ income.amount }}</td>
                            <td class="column-incomes">{{ income.date_of_income }}</td>
                            <td class="column-incomes">{{ income.name }}</td>
                            <td class="column-incomes">{{ income.income_comment }}</td>
                        </tr>
                        {% set myOrdinalNumber = myOrdinalNumber + 1 %}
                        {% endfor %}
                        {% else %}
                        <tr>
                            <td colspan="5" class="center-td">Brak przychodów</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
            <div class="table-responsive mt-4">
                <table class="table-center my-table">
                    <thead>
                        <tr>
                            <th colspan="6" class="center-td">Zestawienie wydatków w okresie od
                                {{ date_from_to_current_year }}
                            </th>
                        </tr>
                        <tr>
                            <th class="ordinal-number">Lp</th>
                            <th class="column-expenses">Kwota (zł)</th>
                            <th class="column-expenses">Data</th>
                            <th class="column-expenses">Sposób płatności</th>
                            <th class="column-expenses">Kategoria</th>
                            <th class="column-expenses">Komentarz</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if query_name_expense_current_year %}
                        {% set myOrdinalNumberExpenses = 1 %}
                        {% for expense in query_name_expense_current_year %}
                        <tr>
                            <td class="ordinal-number">{{ myOrdinalNumberExpenses }}</td>
                            <td class="column-expenses">{{ expense.amn }}</td>
                            <td class="column-expenses">{{ expense.dateExp }}</td>
                            <td class="column-expenses">{{ expense.pay }}</td>
                            <td class="column-expenses">{{ expense.excategory }}</td>
                            <td class="column-expenses">{{ expense.comment }}</td>
                        </tr>
                        {% set myOrdinalNumberExpenses = myOrdinalNumberExpenses + 1 %}
                        {% endfor %}
                        {% else %}
                        <tr>
                            <td colspan="6" class="center-td">Brak wydatków</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
            <div class="table-responsive mt-4">
                <table class="table-center">
                    <thead>
                        <tr>
                            <th>Suma przychodów i wydatków w okresie od {{ date_from_to_current_year }}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <p>Suma przychodów(zł):
                                    {% if query_name_incomes_sum_current_year.incSum %}
                                    <b> {{ query_name_incomes_sum_current_year.incSum }}
                                    </b>
                                    {% else %}
                                    <b>0</b>
                                    {% endif %}
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Suma wydatków (zł):
                                    {% if query_name_expenses_sum_current_year.expSum %}
                                    <b>{{ query_name_expenses_sum_current_year.expSum }}
                                    </b>
                                    {% else %}
                                    <b>0</b>
                                    {% endif %}



                                    <br>
                                    income current month:
                                    {% if query_name_income_current_month %}
                                    {% for incometryCurrentMonth in query_name_income_current_month %}
                                    {{ incometryCurrentMonth.amount }}
                                    {% endfor %}
                                    {% else %} nic
                                    {% endif %}
                                    <br>

                                    <br>
                                    income last month
                                    {% if query_name_income_last_month %}
                                    {% for incometryLastMonth in query_name_income_last_month %}
                                    {{ incometryLastMonth.amount }}
                                    {% endfor %}
                                    {% else %} nic
                                    {% endif %}
                                    <br>

                                    <br>
                                    income current year
                                    {% if query_name_income_current_year %}
                                    {% for incometryCurrentYear in query_name_income_current_year %}
                                    {{ incometryCurrentYear.amount }}
                                    {% endfor %}
                                    {% else %} nic
                                    {% endif %}
                                    <br>
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}