{% extends 'base.html' %}

{% block title2 %}Wybierz okres czasu{% endblock %}

{% block body2 %}
<div class="row justify-content-center m-0 p-0">
    <div class="col-xl-12 col-xxl-9 p-0">
        <div class="content2 mt-2 p-4">
            <h3>PRZEGLĄDAJ BILANS</h3>
            <form action="/personalbudget/newbrowsethebalance" method="post">
                <div class="d-flex flex-row bd-highlight div-balance-buttons mx-auto p-2">
                    <div class="bd-highlight balance-width d-flex align-items-center">
                        <label class="p-input-radio w-100" for="paymentMethodSelected">Wybierz okres czasu:</label>
                    </div>
                    <div
                        class="bd-highlight balance-width2 margin-top-gap d-flex align-items-center justify-content-center">
                        <!-- <div class="bd-highlight border border-info d-flex align-items-center"> -->
                        <!-- <div class="container balance-width"> -->
                        <select class="form-select form-select-sm w-100" aria-label="sposob platnosci"
                            name="paymentMethod" id="paymentMethodSelected">
                            <option value="currentMonth">Bieżący miesiąc</option>
                            <option value="lastMonth">Poprzedni miesiąc</option>
                            <option value="currentYear">Bieżący rok</option>
                            <option value="selectedPeriod">Wybrany okres</option>
                        </select>
                        <!-- </div> -->

                    </div>
                    <div
                        class="bd-highlight balance-width3 submit2 small-text d-flex align-items-center justify-content-center">
                        <button type="submit" class="btn btn-warning">Przeglądaj</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}