{% extends 'base.html' %}

{% block title2 %}Dodaj przychód{% endblock %}

{% block body2 %}

<div class="row justify-content-center m-0 p-0">
    <div class="col-xl-12 col-xxl-9 p-0">
        <div class="content mt-2 p-4">
            <h3>PRZEGLĄDAJ BILANS</h3>
            <div class="table-responsive">
                <table class="table-center my-table">
                    <thead>
                        <tr>
                            <th colspan="5" class="center-td">Zestawienie przychodów w okresie od
                            </th>
                        </tr>
                        <tr>
                            <th>Lp</th>
                            <th>Kwota (zł)</th>
                            <th>Data</th>
                            <th>Kategoria</th>
                            <th>Komentarz</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% set myOrdinalNumber = 1 %}
                        {% for income in query_name_income %}
                        <tr>

                            <td>{{ myOrdinalNumber }}</td>
                            <td>{{ income.amount }}</td>
                            <td>{{ income.date_of_income }}</td>
                            <td>{{ income.name }}</td>
                            <td>{{ income.income_comment }}</td>

                        </tr>
                        {% set myOrdinalNumber = myOrdinalNumber + 1 %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="table-responsive mt-4">
                <table class="table-center">
                    <thead>
                        <tr>
                            <th colspan="6" class="center-td">Zestawienie wydatków w okresie od
                            </th>
                        </tr>
                        <tr>
                            <th>Lp</th>
                            <th>Kwota (zł)</th>
                            <th>Data</th>
                            <th>Sposób płatności</th>
                            <th>Kategoria</th>
                            <th>Komentarz</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>$i</td>
                            <td>{$expensesUser['amn']}</td>
                            <td>{$expensesUser['dateExp']}</td>
                            <td>{$expensesUser['pay']}</td>
                            <td>{$expensesUser['excategory']}</td>
                            <td>{$expensesUser['comment']}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="table-responsive mt-4">
                <table class="table-center">
                    <thead>
                        <tr>
                            <th>Suma przychodów i wydatków w okresie od
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <p>Suma przychodów: <b>
                                    </b></p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Suma wydatków: <b>
                                    </b></p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}