{% extends 'base.html' %}

{% block title2 %}Edytuj wydatek{% endblock %}

{% block body2 %}
<div class="row justify-content-center m-0 p-0">
    <div class="col-xl-12 col-xxl-9 p-0">
        <div class="content mt-2 p-4">
            <h3>EDYTUJ WYDATEK</h3>
            <div class="div-form-buttons mx-auto">
                {% if expenses_edit_values %}
                {% for ex_edit in expenses_edit_values %}
                {{ ex_edit.amn }}
                {{ ex_edit.dateExp }}
                {{ ex_edit.excategory }}
                {{ ex_edit.pay }}
                {{ ex_edit.comment }}
                <form method="post" action="/personalbudget/updateExpenseAction">
                    <div class="mb-3">
                        <label for="amountOfExpanse" class="form-label">Kwota (zł):</label>
                        <input type="number" class="form-control" min="0" step="0.01" id="amountOfExpanse"
                            value="{{ ex_edit.amn }}" name="amountExpense" onkeypress="return onlyNumberKey(event)">
                    </div>
                    <div class="mb-3">
                        <label for="theDate3" class="form-label">Data:</label>
                        <input type="date" class="form-control" id="theDate3" name="dateExpense" min="2000-01-01"
                            value="{{ ex_edit.dateExp }}">
                    </div>
                    <label class="p-input-radio mb-2" for="paymentMethodId">Sposób płatności:</label>
                    <select class="form-select form-select-sm mb-3" aria-label="sposob platnosci" name="paymentMethod"
                        id="paymentMethodId">
                        <option value="Cash">Gotówka</option>
                        <option value="Debit Card">Karta debetowa</option>
                        <option value="Credit Card">Karta kredytowa</option>
                    </select>
                    <label class="p-input-radio mb-2" for="paymentCategory">Kategoria płatności: </label>
                    <select class="form-select form-select-sm" aria-label="sposob platnosci" id="paymentCategory"
                        name="paymentCategoryExpense">
                        <option value="Transport">Transport</option>
                        <option value="Books">Książki</option>
                        <option value="Food">Jedzenie</option>
                        <option value="Apartments">Mieszkanie</option>
                        <option value="Telecommunication">Telekomunikacja</option>
                        <option value="Health">Opieka zdrowotna</option>
                        <option value="Clothes">Ubranie</option>
                        <option value="Hygiene">Higiena</option>
                        <option value="Kids">Dzieci</option>
                        <option value="Recreation">Rozrywka</option>
                        <option value="Trip">Wycieczka</option>
                        <option value="Savings">Oszczędności</option>
                        <option value="For Retirement">Na złotą jesień, czyli emeryturę</option>
                        <option value="Debt Repayment">Spłata długów</option>
                        <option value="Gift">Darowizna</option>
                        <option value="Another">Inne</option>
                    </select>
                    <div class="mt-3 mb-3">
                        <label for="comment" class="form-label">Komentarz (opcjonalnie):</label>
                        <textarea class="form-control" id="comment" rows="2"
                            name="commentExpense">{{ ex_edit.comment }}</textarea>
                    </div>
                    <div class="mt-4 submit">
                        <button type="submit" class="btn btn-warning btn-lg">Zmień</button>
                    </div>
                </form>


            </div>
        </div>
    </div>
</div>
<script>
    document.getElementById('paymentCategory').value = "{{ ex_edit.excategory }}";
    document.getElementById('paymentMethodId').value = "{{ ex_edit.pay }}";
</script>
{% endfor %}
{% endif %}
{% endblock %}