{% extends 'base.html' %}

{% block title2 %}Edytuj przychód{% endblock %}

{% block body2 %}
<div class="row justify-content-center m-0 p-0">
    <div class="col-xl-12 col-xxl-9 p-0">
        <div class="content mt-2 p-4">
            <h3>DODAJ PRZYCHÓD</h3>
            <div class="div-form-buttons mx-auto">
                {% if incomes_edit_values %}
                {% for inc_edit in incomes_edit_values %}
                <form method="post" action="/personalbudget/updateIncomeAction">
                    <div class="mb-3">
                        <label for="amount" class="form-label">Kwota (zł):</label>
                        <input type="number" class="form-control" min="0" step="0.01" id="amount"
                            value="{{ inc_edit.amn }}" name="amountIncome" onkeypress="return onlyNumberKey(event)">
                    </div>
                    <div class="mb-3">
                        <label for="theDate3" class="form-label">Data:</label>
                        <input type="date" class="form-control" id="theDate3" min="2000-01-01" name="dateIncome"
                            value="{{ inc_edit.dateInc }}">
                    </div>
                    <label class="p-input-radio mb-2" for="paymentCategoryIncomeId">Kategoria płatności:</label>
                    <select class="form-select form-select-sm" aria-label="kategoria platnosci"
                        name="paymentCategoryIncomeName" id="paymentCategoryIncomeId">
                        <option value="Salary">Wynagrodzenie</option>
                        <option value="Interest">Odsetki</option>
                        <option value="Allegro">Allegro</option>
                        <option value="Another">Inne</option>
                    </select>
                    <div class="mt-3 mb-3">
                        <label for="comment" class="form-label">Komentarz (opcjonalnie):</label>
                        <textarea class="form-control" id="comment" rows="2"
                            name="commentIncome">{{ inc_edit.comment }}</textarea>
                    </div>
                    <div class="mt-4 submit">
                        <button type="submit" class="btn btn-warning btn-lg">Zmień</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    document.getElementById('paymentCategoryIncomeId').value = "{{ inc_edit.incCategory }}";
</script>
{% endfor %}
{% endif %}
{% endblock %}