{% extends 'base.html' %}

{% block title2 %}Pomyślnie dodano wydatek{% endblock %}

{% block body2 %}
<div class="row justify-content-center m-0 p-0">
    <div class="col-xl-12 col-xxl-9 p-0">
        <div class="content2 mt-2">
            <p class="p-content text-center p-3">Pomyślnie dodano wydatek</p>
            <div class="submit">
                <button type="button" onclick="document.location='/personalbudget/addexpense'"
                    class="btn btn-warning mb-4">Dodaj kolejny</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}