{% extends 'base.html' %}

{% block title %}ZAREJESTRUJ SIĘ{% endblock %}

{% block body %}
<article>
    <div class="row justify-content-center m-0 p-0">
        <div class="col-sm-12 col-lg-4 col-xxl-3 log-in-or-register mt-3">
            <p class="p-2"> Masz już konto? </p>
            <div class="submit"><button type="button" onclick="document.location='/login'"
                    class="btn btn-warning">Zaloguj się</div>
        </div>
        <div class="col-sm-12 col-lg-4 col-xxl-3 mt-3">
            <form method="post" action="/signup/create" id="formSignup" onsubmit="return check()" name="form">
                <p class="p-2"> Nie masz jeszcze konta? </p>
                <div class="input-group mb-2">
                    <div class="form-group w-75 set-margin">
                        <input type="text" class="form-control" placeholder="Podaj nick" name="name" id="inputName">
                        <p id="errorNameEmpty" class="errors-signup"></p>
                    </div>
                </div>
                <div class="input-group mb-2">
                    <div class="form-group w-75 set-margin">
                        <!--            <input type="text" class="form-control" placeholder="Podaj adres e-mail" name="email"
                            id="inputEmail" required> -->
                        <input id="inputEmail" name="email" placeholder="Podaj adres e-mail" class="form-control" />
                        <p id="error2EmailEmpty" class="errors-signup"></p>
                        <p id="error3IncorrectEmail" class="errors-signup"></p>
                    </div>
                </div>
                <div class="input-group">
                    <div class="form-group w-75 set-margin">
                        <input type="password" class="form-control" placeholder="Podaj hasło" name="password"
                            id="inputPassword">
                        <p id="error4PasswordEmpty" class="errors-signup"></p>
                        <p id="error5PasswordTooShort" class="errors-signup"></p>
                        <p id="error6AtLeastOneLetter" class="errors-signup"></p>
                        <p id="error7AtLeastOneNumber" class="errors-signup"></p>
                    </div>
                </div>
                <div class="g-recaptcha margins center" data-sitekey=""></div>
                <div class="submit"><button type="submit" class="btn btn-success">Zarejestruj się</button></div>
            </form>
        </div>
    </div>
</article>

{% endblock %}

{% block footer %}
<script src="/js/hideShowPassword.min.js"></script>
<script src="/js/app.js"></script>
<script src="/js/my.js"></script>



{% endblock %}