body
{
	/* Background pattern from https://www.toptal.com/designers/subtlepatterns/ */
	background-image: url("../img/prism.png");
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	color: white;
	margin: 0 !important;
}

.keep-password
{
	font-size: 16px;
	color: white;
	text-align: left;
	font-style: italic;
}

.margin-top-gap
{
	margin-top: 0px;
}

.margin-left-recaptcha
{
	margin-left: 40px;
}

.margin-zero
{
	margin: 0 !important;
}

.ordinal-number
{
	width: 8%;
}

.column-incomes
{
	width: 19%;
}

.column-incomes-delete
{
	width: 23%;
}

.column-expenses
{
	width: 15.2%;
}

.column-expenses-delete
{
	width: 18.4%;
}

.column-delete-edit
{
	width: 8%;
}

.my-table
{
	width: 1000px;

}

.my-table-delete
{
	width: 850px;

}

.errors-signup
{
	color: #cc6060;
	font-size: 14px;
	text-align: left;
}

.table-center
{
	margin-left: auto;
	margin-right: auto;
}

.p-bold
{
	font-weight: bold;
}

.center-td
{
	text-align: center;
}

th
{
	background-color: #140303; 
	border: 1px solid #b0afaf;
	padding: 10px;
	color: #959494;
}

td
{
	padding: 10px;
	border: 1px solid #b0afaf;
	font-size: 16px;
}

tr:nth-child(odd)
{
	background-color: #373737;
}

.dispaly-as-flex
{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.display-right
{
	color: #959494;
	text-align: right;
}
.display-center
{
	color: #959494;
	text-align: center;
}

.class-center
{
	margin-left: auto;
	margin-right: auto;
}

.choose-the-date
{
	font-size: 16px;
}

.success
{
	margin-top: 50px;
	color: #ffc107;
	font-size: 20px;
}
a:link {
	color: #ffc107;
	text-decoration: none;
}
a:visited {
	color: #ffc107;
}
a:hover {
	color: #00de77;
}
a:active {
	color: #FFF;
}

.margin-left-spacing
{
	margin-left: 40px;
}

.error
{
	margin-top: 6px;
	color: #cc6060; 
	font-size: 14px;
} 

.error2
{
	margin-top: 0px;
	color: #cc6060; 
	font-size: 14px;
} 

.margins
{
	margin-top: 0px;
	margin-bottom: 10px;
}

.margins-captcha
{
	margin-top: 0px;
	margin-bottom: 0px;	
}

.margins-2
{
	margin-top: 10px;
	margin-bottom: 10px;
}
.succesfully-added
{
	color: #cc6060;
	font-size: 16px;
}
.center
{
	display: flex;
	justify-content: center;
}

.balance-width-percent
{
	width: 200px;
}

.balance-width
{
	width: 200px;
}
.balance-width2
{
	 width: 165px;
}
.balance-width3
{
	 width: 105px;
}

.div-balance-buttons-choose-period
{
	width: 250px;
}

.div-balance-buttons
{
	width: 500px;
}

.div-form-buttons-show
{
	width: 400px;
}

.div-form-buttons
{
	width: 250px;
}

.mt-neg
{
	margin-top: -0.05rem !important;
}

.text-light:hover {
  color: #000000 !important;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #0d6efd;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.dropdown-menu-dark .dropdown-item:hover, .dropdown-menu-dark .dropdown-item:focus {
  color: #fff;
  background-color: rgba(255, 255, 255, 0);
}

.dropdown-my-color:hover
{
	background-color: #909090;
}

.li-change-color:hover
{
	background-color: #909090;	
}

.li-change-color:active
{
	background-color: #202020;	
}

.dropdown-menu-dark .dropdown-item.active, .dropdown-menu-dark .dropdown-item:active {
  color: #fff;
  background-color: #202020;
}

.dropdown-menu-dark
{
	color: #dee2e6;
	background-color: #140303;
	border-color: rgba(0, 0, 0, 0.15);
}

.container-fluid
{
	margin: 0;
	padding: 0;
} 

p
{
	color: white;
	text-align: center;
	margin: 0;
}

.errors-php
{
	font-size: 16px;
}

.set-margin
{
	margin: 0 auto;
	width: 80%;
}

.p-content
{
	color: white;
	text-align: justify;
}

.p-input-radio
{
	color: white;
	text-align: left;
}

.bo
{
	color: #ffffff;
	text-align: center;
	font-size: 24px;
	font-style: italic;
	margin-top: 0;
}

h1
{
	font-family: 'Rubik Distressed', cursive;
	color: #ffffff;
	font-size: 72px;
	text-align: center;
	margin-bottom: 0;
}

h3
{
	font-size: 30px;
	color: #ffffff;
	margin-top: 0;
	margin-bottom: 20px;
	text-align: center;
	font-weight: bold;
}

.content 
{
	background-color: #272020;	
	min-height: 300px;
	border-radius: 15px;
}

.content2
{
	background-color: #272020;	
	min-height: 100px;
	border-radius: 15px;
}

.content3
{
	background-color: #272020;	
	min-height: 50px;
	border-radius: 15px;
}

.top-bar
{
	background-color: #140303;
	border-radius: 15px;
}

.log-in-or-register
{
	border-right: 2px solid #ccc; 
}

.submit2
{
	margin-left: 10px;
}

.submit
{
	width: 100%;
	text-align: center;
}

@media (min-width: 1900px)
{
	.col-xxl-3 
	{
		flex: 0 0 auto;
		width: 18%;
	}
	.col-xxl-8 {
    flex: 0 0 auto;
    width: 50%;
  }
}

@media (min-width: 2200px)
{
	.col-xxl-3 
	{
		flex: 0 0 auto;
		width: 15%;
	}
}

@media (min-width: 721px) and (max-width: 991px)
{
	.w-75 
	{
		width: 25% !important;
	}
	.set-margin
	{
		width: 50%;
	}
}

@media (max-width: 720px)
{
	.w-75 
	{
		width: 50% !important;
	}
	.flex-row
	{
		flex-direction: column !important;
	}
	.div-balance-buttons
	{
		width: 250px;
	}
	.balance-width,
	.balance-width2,
	.balance-width3
	{
		width: 100%;
	}
	.margin-top-gap
	{
		margin-top: 10px;
	}
	.small-text
	{	
		margin-left: 0; 
		margin-top: 20px;
	}
	.p-input-radio
	{
		text-align: center;
	}
}

@media (max-width: 991px)
{
	.padding-991 
	{
		padding-left: 20px;
		padding-right: 20px;
	}
	.margin-left-spacing
	{
		margin-left: 0px;
		text-align: center;
	}
	.div-form-buttons-show
	{
		width: 250px;
	}
}

@media (min-width: 1400px)
{
	.col-xxl-9 
	{
		flex: 0 0 auto;
		width: 1250px;
	}
}

@media (max-width: 430px)
{
	h1
	{
		font-size: 44px;
	}
	.bo
	{
		font-size: 18px;
	}
	.p-content
	{
		text-align: left;
	}
	.set-margin
	{
		width: 100%;
	}
}

@media (max-width: 1399px)
{
	.dispaly-as-flex
	{
		flex-direction: column;
	}
}

