{% extends 'base.html' %}

{% block title %}Strona startowa{% endblock %}

{% block body %}

<article>
    <div class="row justify-content-center m-0 p-0">
        <div class="col-sm-12 col-lg-4 col-xxl-3 log-in-or-register mt-3">
            <form action="logIn.php" method="post">
                <p class="p-2"> Masz już konto? </p>
                <div class="input-group mb-3 w-75 set-margin">
                    <input type="text" class="form-control" placeholder="Podaj login" name="username" required>
                </div>
                <div class="input-group w-75 set-margin">
                    <input type="password" class="form-control" placeholder="Podaj hasło" name="password" required>
                </div>
                <div class="submit mt-3"><button type="submit" class="btn btn-warning">Zaloguj się</button></div>
            </form>
        </div>
        <div class="col-sm-12 col-lg-4 col-xxl-3 mt-3">
            <!--         <form> -->

            <p class="p-2"> Nie masz jeszcze konta? </p>
            <div class="submit">
                <button type="button" onclick="document.location='/signup/new'" class="btn btn-success ">Zarejestruj
                    się</button>
            </div>
            <!--         </form> -->

        </div>
    </div>
</article>

{% endblock %}