{% extends 'base.html' %}

{% block title %}Strona startowa{% endblock %}

{% block body %}

<article>
    <div class="row justify-content-center m-0 p-0">
        <div class="col-sm-12 col-lg-4 col-xxl-3 log-in-or-register mt-3">
            <form action="/login/create" method="post">
                <p class="p-2"> Masz już konto? </p>
                <div class="input-group mb-3 w-75 set-margin">
                    <!--        <input type="text" class="form-control" placeholder="Podaj login" name="username" required> -->
                    <input type="email" placeholder="Podaj login" id="inputEmail" name="email" autofocus
                        value="{{ email }}" class="form-control" />
                </div>
                <div class="input-group w-75 set-margin">
                    <!--        <input type="password" class="form-control" placeholder="Podaj hasło" name="password" required> -->
                    <input type="password" id="inputPassword" name="password" placeholder="Podaj hasło"
                        class="form-control" />
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="remember_me" {% if remember_me %} checked="checked" {% endif %} />
                        Remember me
                    </label>
                </div>
                <div class="submit mt-3"><button type="submit" class="btn btn-warning">Zaloguj się</button></div>
            </form>
        </div>
        <div class="col-sm-12 col-lg-4 col-xxl-3 mt-3">
            <!--         <form> -->

            <p class="p-2"> Nie masz jeszcze konta? </p>
            <div class="submit">
                <button type="button" onclick="document.location='/signup/new'" class="btn btn-success ">Zarejestruj
                    się</button>
            </div>
            <!--         </form> -->

        </div>
    </div>
</article>

{% endblock %}