{% extends 'base.html' %}

{% block title2 %}Dodaj kategorię dla wydatków{% endblock %}

{% block body2 %}
<div class="row justify-content-center m-0 p-0">
    <div class="col-xl-12 col-xxl-9 p-0">
        <div class="content mt-2 p-4">
            <div class="div-edit-category mx-auto">
                <h3>DODAJ NOWĄ KATEGORIĘ DLA METOD PŁATNOŚCI</h3>
            </div>
            <div class="div-form-buttons mx-auto">
                <form method="post" action="/profile/addtodatabasenewpaymethcategory">
                    <div class="mt-3 mb-3">
                        <label for="comment" class="form-label">Nazwa Kategorii:</label>
                        <input type="text" class="form-control" name="addedNewPayMethCat" id="comment" required>
                    </div>
                    <div class="mt-4 submit">
                        <button type="submit" class="btn btn-warning btn-lg">Dodaj</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}