{% extends 'base.html' %}

{% block title2 %}EDYTUJ DANE{% endblock %}

{% block body2 %}

<div class="row justify-content-center m-0 p-0">
    <div class="col-xl-12 col-xxl-9 p-0">
        <div class="content mt-2 p-4">

            <h3>EDYTUJ DANE</h3>
            <div class="div-form-buttons mx-auto">
                {% if user.errors is not empty %}
                <p>Błędy:</p>
                <ul>
                    {% for error in user.errors %}
                    <li>
                        <p class="errors-php text-start">{{ error }}</p>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <div class="div-form-buttons mx-auto text-center">

                <form method="post" id="formProfile" action="/profile/update">
                    <div class="form-group">
                        <label for="inputName">Imię</label>
                        <input id="inputName" name="name" placeholder="Imię" value="{{ user.name }}"
                            class="form-control" autocomplete="on" maxlength="18" />
                    </div>
                    <div class="form-group">
                        <label for="inputEmail" class="mt-2">Adres email</label>
                        <input id="inputEmail" name="email" placeholder="Adres email" value="{{ user.email }}"
                            type="email" class="form-control" autocomplete="on" />
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="mt-2">Hasło</label>
                        <input type="password" id="inputPassword" name="password" placeholder="Hasło"
                            class="form-control" />
                        <p class="keep-password mt-2">Pozostaw niezmienione jeśli chcesz zachować bieżące dane</p>
                    </div>
                    <div class="mt-3">
                        <button type="submit" class="btn btn-warning">Zapisz</button>
                        <a href="/profile/show">Anuluj</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block footer2 %}
<script src="/js/hideShowPassword.min.js"></script>
<script src="/js/app.js"></script>

<script>
    $(document).ready(function () {

        var userId = '{{ user.id }}';

        $('#formProfile').validate({
            rules: {
                name: 'required',
                email: {
                    required: true,
                    email: true,
                    remote: {
                        url: '/account/validate-email',
                        data: {
                            ignore_id: function () {
                                return userId;
                            }
                        }
                    }
                },
                password: {
                    minlength: 6,
                    validPassword: true
                }
            },
            messages: {
                email: {
                    remote: 'Email zajęty',
                    required: 'Pole wymagane',
                    email: 'Wprowadź poprawny email'
                },
                name: {
                    required: 'Pole wymagane'
                },
                password: {
                    minlength: 'Wprowadź minimum 6 znaków'
                }
            }
        });

        $('#inputPassword').hidePassword(true, {
            toggle: {
                verticalAlign: 'top',
            }
        });
    });
</script>

{% endblock %}