{% extends "base.html" %}

{% block title %}Wyświetl dane{% endblock %}

{% block body2 %}

<div class="row justify-content-center m-0 p-0">
    <div class="col-xl-12 col-xxl-9 p-0">
        <div class="content mt-2 p-4">
            <h3>Wyświetl dane</h3>
            <div class="div-form-buttons mx-auto text-center">
                <dl class="dl-horizontal">
                    <dt>Imię</dt>
                    <dd>{{ user.name }}</dd>
                    <dt>E-mail</dt>
                    <dd>{{ user.email }}</dd>
                </dl>

                <a href="/profile/edit">Edytuj dane</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}